<!DOCTYPE html>
<html>

<head>
  <title>Imagination by TEMPLATED</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


  <script src="./JavaScript/Angular_functions.js"></script>
  <script src="./JavaScript/AngularApp.js"></script>
  <script src="./JavaScript/Angular_RegisterServices.js"></script>
  <script src="./JavaScript/Angular_RegisterController.js"></script>
  <noscript>
    <link rel="stylesheet" href="css/skel-noscript.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-desktop.css" />
  </noscript>
</head>

<body>
  <header>
    
    <span>للفنيين | سجل الان وابحث عن عمل بالقرب منك</span>
  </header>


  <form id="regForm" ng-app="myApp" ng-controller="registerController">

    <div class="form-group">

      <label for="firstName">الاسم الاول</label>
      <input type="text" class="form-control" id="firstName" placeholder="" ng-model="fname">
    </div>

    <div class="form-group">
      <label for="lastName">اللقب</label>
      <input type="text" class="form-control" id="lastName" placeholder="" ng-model="lastname">
    </div>
    <div class="form-group">
      <label for="mobile">الموبايل</label>
      <input type="text" class="form-control" id="mobileNumber" ng-model="mobile" placeholder="رقم المحمول الشخصي">
    </div>
    <div class="form-group">
      <label for="email">البريد الاليكتروني</label>
      <input type="email" class="form-control" id="emailAddress" ng-model="email" placeholder="example:yourname@gmail.com">
    </div>
    <div class="form-group">
      <label for="password">كلمة المرور</label>
      <input type="password" class="form-control" id="password" ng-model="password" placeholder="كلمة المرور المستخدمة للموقع">
    </div>


    <label for="year">تاريخ الميلاد</label>
    <select ng-model="year" ng-options="y for y in yearList" id="year">
<option> اختر السنه </option>

</select>

    <select id="day" ng-model="day" ng-options="d for d in dayList">
<option> اختر اليوم  </option>

</select>

    <select id="month" ng-model="month" ng-options="m.monthName for m in monthList">
<option>اختر الشهر</option>
</select>



    <div class="form-group">
      <label for="zone">المحافظة</label>

      <select ng-model="selectedCity" ng-options="c.city_ar_name for c in cityList">
    
  </select>
    </div>



    <div> <label for="zone">المنطقه</label>
      <select ng-model="selectedZone" ng-options="z.zone_ar_name for z in zoneList | filter:selectedCity.city_ar_name">
    
  </select></div>

    <div><label for="job">المهنه</label>
      <select ng-model="job" ng-options="j.job_name for j in JobList">
    
  </select></div>


    </div>


    <div class="form-group">
      <label for=""> ذكر
<input type="radio" ng-model="female" name="gender"  value="female">

</label>
      <label> انثي

<input type="radio" ng-model="male" name="gender"  value="male">
</label></br>
    </div>






    <button type="submit" ng-click="registerTech()" class="btn btn-default">Submit</button>







  </form>


</body>

</html>