<!DOCTYPE html>
<html>

<head>
    <title>Imagination by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>
    <script src="js/init.js"></script>
    <!--important  -->
    <script src="./JavaScript/Angular_functions.js"></script>
    <script src="./JavaScript/AngularApp.js"></script>
    <script src="./JavaScript/Angular_RegisterServices.js"></script>
    <script src="./JavaScript/Angular_RegisterController.js"></script>
    <script src="./JavaScript/Angular_DOM_Controller.js" charset="utf-8"></script>
    <script src="./JavaScript/Angular_SearchController.js"></script>
    <link rel="stylesheet" href="./css/profileCard.css">
    <!--  -->
    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>
</head>

<body ng-app="myApp" ng-controller="searchController" style="direction: rtl">


    <div id="header-wrapper">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="#">حرفي</a></h1>
                </div>

                <!-- Nav -->
                <nav id="nav" ng-controller="DOM_listItem">
                    <ul>

          <li ng-click="addClass='active'" ng-mouseleave="addClass=''" ng-mouseover="addClass='active'" class="{{addClass}}" ng-repeat="li in pagesURL"><a ng-href="{{li.url}}">{{li.label}}</a></li>


                    </ul>
                </nav>
            
            </div>
        </div>
        <!-- Header -->

        <!-- Banner -->
        <div id="banner">
            <div class="container">
            </div>
        </div>
        <!-- /Banner -->

    </div>

    <!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row">

                <div class="3u">
                    <section class="sidebar">
                        <header>

                            <h2>احدث الوظائف</h2>
                        </header>
                        <ul class="default">
                            <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                            <li><a href="#">Etiam rhoncus volutpat erat</a></li>
                            <li><a href="#">Donec dictum metus in sapien</a></li>
                            <li><a href="#">Nulla luctus eleifend purus</a></li>
                            <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                        </ul>
                    </section>
                    <section class="sidebar">
                        <header>
                            <h2>الاعلي كفاءه</h2>
                            <kbd> حسب تقييم العملاء </kdb>
							</header>
							<ul class="default">
								<li><a href="#">Maecenas luctus lectus at sapien</a></li>
								<li><a href="#">Donec dictum metus in sapien</a></li>
								<li><a href="#">Integer gravida nibh quis urna</a></li>
								<li><a href="#">Etiam posuere augue sit amet nisl</a></li>
								<li><a href="#">Mauris vulputate dolor sit amet nibh</a></li>
							</ul>
						</section>
					</div>

					<div class="9u skel-cell-important" >
						<section>
							<ul class="nav nav-pills">
							</ul>

              
    <div>
        <h1>دور علي حرفي </h1>
        <form id="form_searchTechnician">
    
            <table>
                <tr>
                    <td>
                        <label for="city">المحافظه</label>
                        <select id="soflow-color" class="" ng-model="selectedCity" ng-options="c.city_ar_name for c in cityList" name="city" required>
                        <option value="">اختر</option>    
                        </select>
                    
                    </td>

                </tr>

                <tr>
                    <td>
                        <label for="zone">المنطقه</label>
                        <select id="soflow-color" class="" ng-model="selectedZone" ng-options="z.zone_ar_name for z in zoneList | filter:selectedCity.city_ar_name"
                            name="zone" required>
                        <option value="">اختر</option>
                        </select>
                    </td>
                
                </tr>
                <tr>
                    <td> <label for="serviceid">المهنه</label>
                        <select id="soflow-color" class="" ng-model="selectedJob" ng-options="j.job_name for j in JobList" name="service" required>
                        <option value="">اختر</option>    
                        </select>
                    </td>
                </tr>
             
                       
                
            </table>
  <button style="width:30%;margin-right:8%;border-radius: 40px;" type="button" class="" ng-click="search()" >بحث</button>
        

        </form>
    </div>
    <div id="resultTable">

        <table>
            <tr>
                <td style="padding:.7%;" ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                    <h2 style="text-align:center"> </h2>

                    <div class="profilecard">
                        <img src="http://aa.com.tr/uploads/Contents/2017/03/16/thumbs_b_c_bd3b8afd050d7483a4982b5cf3aac7e3.jpg?v=000546" alt="John"
                            style="width:100%">
                        <div class="cardcontainer">
                            <h1>{{item.nickName}}</h1>
                            <p class="cardtitle">المهنه : {{item.serviceName}}</p>
                            <p class="cardtitle">المدينه : {{item.cityName}}</p>
                            <p class="cardtitle">المنطقه : {{item.zoneName}}</p>
                            <div style="margin: 24px 0;">
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            <p> <button ng-show='!shownum' ng-click="shownum='true'">عرض رقم الموبايل</button></p>
                            <p> <button ng-show='shownum'>{{item.mobile}}</button></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>




    <ul class="pagination" ng-show="showPagination">
        <li ng-class="{disabled: currentPage == 0}">
            <a href ng-click="prevPage()">« السابق</a>
        </li>
        <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) " ng-class="{active: n == currentPage}" ng-click="$parent.currentPage = n;">
            <a href ng-bind="n + 1">1</a>
        </li>

        <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
            <a href ng-click="nextPage()">التالي »</a>
        </li>
    </ul>


                                  </div>
      
                        </section>
            
					</div>

				</div>
			</div>
		</div>
	<!-- Main -->

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<section>
					<header>
						<h2>لماذا يعد حرفي افضل اختيار</h2>
						<span class="byline">Posuere eleifend odio quisque semper mattis</span>
					</header>
				</section>
				<div class="row">
					<section class="4u">
						<a href="#" class="image full"><img src="images/pics01.jpg" alt=""></a>
						<p>Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus.</p>
						<p><a href="#" class="button">View Full Details</a></p>
					</section>
					<section class="4u">
						<a href="#" class="image full"><img src="images/pics03.jpg" alt=""></a>
						<p>Pellentesque tristique ante ut risus. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus.</p>
						<p><a href="#" class="button">View Full Details</a></p>
					</section>
					<section class="4u">
						<a href="#" class="image full"><img src="images/pics04.jpg" alt=""></a>
						<p>Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus.</p>
						<p><a href="#" class="button">View Full Details</a></p>
					</section>
				</div>
			</div>
		</div>
	<!-- /Featured -->

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<section class="4u">
						<header>
							<h2>Nulla eleifend</h2>
						</header>
						<ul class="default">
							<li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
							<li><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit.</a></li>
							<li><a href="#">Phasellus nec erat sit nibh pellentesque congue.</a></li>
							<li><a href="#">Cras vitae metus aliquam pellentesque pharetra.</a></li>
							<li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
						</ul>
					</section>
					<section class="4u">
						<header>
							<h2>Etiam posuere</h2>
						</header>
						<ul class="default">
							<li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
							<li><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit.</a></li>
							<li><a href="#">Phasellus nec erat sit nibh pellentesque congue.</a></li>
							<li><a href="#">Cras vitae metus aliquam pellentesque pharetra.</a></li>
							<li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
						</ul>
					</section>
					<section class="4u">
						<header>
							<h2>Mauris vulputate</h2>
						</header>
						<ul class="default">
							<li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
							<li><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit.</a></li>
							<li><a href="#">Phasellus nec erat sit nibh pellentesque congue.</a></li>
							<li><a href="#">Cras vitae metus aliquam pellentesque pharetra.</a></li>
							<li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	<!-- /Footer -->
</body>

</html>