<!DOCTYPE html>
<html >

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./JavaScript/AngularApp.js"></script>
    <script src="./JavaScript/Angular_RegisterServices.js"></script>
    <script src="./JavaScript/Angular_RegisterController.js"></script>
    <!--  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
  
     <link rel="stylesheet" href="./css/profileCard.css"> 
    

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
</head>

<body ng-app="myApp" ng-controller="registerController">


    <div>
        <table>
            <tr>
                <td ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse">
                    <h2 style="text-align:center">حرفي {{item.id}} </h2>

                    <div class="profilecard">
                        <img src="http://aa.com.tr/uploads/Contents/2017/03/16/thumbs_b_c_bd3b8afd050d7483a4982b5cf3aac7e3.jpg?v=000546" alt="John"
                            style="width:100%">
                        <div class="cardcontainer">
                            <h1>{{item.name}}</h1>
                            <p class="cardtitle">المهنه : {{item.description}}</p>
                            <p>{{item.field3}}</p>
                            <div style="margin: 24px 0;">
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            <p><button>Contact</button></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>


    </div>



    
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) " ng-class="{active: n == currentPage}" ng-click="$parent.currentPage = n;">
                <a href ng-bind="n + 1">1</a>
            </li>

            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    
</body>

</html>