<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>


<script type="text/javascript">
  $(document).ready(function(){
    $("#zoneSelect").hide();

  })
</script>
<script>

var app = angular.module('myApp', []);


//define a service , to get the same data ( cities data ) to be used
//across all angular controllers...


app.factory('bindServices', function ($http) {
        return {
            getAllServices: function () {

            return $http.get('../api.php/bindProfessions/').then(function (response) {
                return response;
            });
          }
        };
    });


//

app.factory("bindZones",function($http){
  return{
    getAllZones : function(){
      return $http.get("../api.php/bindZone/").then(function(response){
    return response;

  });
}
};
});





app.factory("name",function($http){
  return {
    functionName : function(){
      return $http.get("../api.php/bindCity/").then(function(response){
        return response;
      });
    }
  }
});

app.controller('myCtrl', function($scope,$http,bindServices,bindZones,name) {

//

//

//factory part
bindServices.getAllServices().then(function(data) {
  $scope.resultList = data.data;

});

bindZones.getAllZones().then(function(data){
  $scope.allZones = data.data;
  $scope.Status = data.config;
});


name.functionName().then(function(data){
  $scope.city = data.data;

});


$scope.showZoneddl= function(){
  $('#zoneSelect').show();
};

   });



</script>

<div ng-app="myApp" ng-controller="myCtrl">


  <select class="" ng-change="showZoneddl()"  ng-model="selectedCity" ng-options="c.city_ar_name for c in city" name="">

  </select>

<select class="" id="zoneSelect" ng-model="selectedZone" ng-options="x.zone_ar_name for x in allZones | filter:selectedCity.city_name" name="">

</select>
<p>You Selected: {{selectedZone.zone_ar_name}}</p>
<p>with id : {{selectedZone.zone_id}}</p>
<p>city: {{selectedZone.city_ar_name}}</p>
<p>city_id : {{selectedZone.city_id}}</p>

<hr>

<!-- factory  -->
<select class=""  ng-model ="selectedJob" ng-options="j.job_name for j in resultList" name="">

</select>


<p ng-repeat="x in city ">{{x.city_name}}</p>




</div>

</body>
</html>
